<h3>Filters</h3>
<hr>
<div class="">
    <select ng-model="selectedTemplate">
        <option ng-repeat="template in Filters.filterTemplates" value="{{ template.name }}">{{ template.displayName }}</option>
    </select>

    <button ng-click="addFilter(selectedTemplate)" class="btn btn-default">Add Filter</button>

    <hr>

    <div ng-repeat="filter in activeFilters">
        <filter template="{{ filter.template.name }}"></filter>
        <div>
            <div ng-repeat="subtype in Filters.filterAssets.subtypes[filter.template.applicableType]" class="label label-default">
                <input type="checkbox" ng-model="filter.subtypes[subtype]" ng-init="filter.subtypes[subtype] = true; ">
                <span>{{ subtype ? subtype : 'other' }}</span>
                <br>
            </div>
        </div>
        <button ng-click="removeFilter($index)" class="btn btn-xs btn-warning remove-filter">Remove Filter</button>
        <hr>
    </div>
</div>
